@inherits TimedOnlyComponent

<div class="text-primary">@ProducingText</div>
<div>@ReadyText</div>

<ItemRequirementDisplay Name="@Option.Required"
                        Required="@Option.Input"
                        Have="@Inventory.Get(Option.Required)" />